# Understanding Hired Rides in NYC

_[Project prompt](https://docs.google.com/document/d/1VERPjEZcC1XSs4-02aM-DbkNr_yaJVbFjLJxaYQswqA/edit#)_

_This scaffolding notebook may be used to help setup your final project. It's **totally optional** whether you make use of this or not._

_If you do use this notebook, everything provided is optional as well - you may remove or add prose and code as you wish._

_Anything in italics (prose) or comments (in code) is meant to provide you with guidance. **Remove the italic lines and provided comments** before submitting the project, if you choose to use this scaffolding. We don't need the guidance when grading._

_**All code below should be consider "pseudo-code" - not functional by itself, and only a suggestion at the approach.**_

## Requirements

_A checklist of requirements to keep you on track. Remove this whole cell before submitting the project._

* Code clarity: make sure the code conforms to:
    * [ ] [PEP 8](https://peps.python.org/pep-0008/) - You might find [this resource](https://realpython.com/python-pep8/) helpful as well as [this](https://github.com/dnanhkhoa/nb_black) or [this](https://jupyterlab-code-formatter.readthedocs.io/en/latest/) tool
    * [ ] [PEP 257](https://peps.python.org/pep-0257/)
    * [ ] Break each task down into logical functions
* The following files are submitted for the project (see the project's GDoc for more details):
    * [ ] `README.md`
    * [ ] `requirements.txt`
    * [ ] `.gitignore`
    * [ ] `schema.sql`
    * [ ] 6 query files (using the `.sql` extension), appropriately named for the purpose of the query
    * [x] Jupyter Notebook containing the project (this file!)
* [x] You can edit this cell and add a `x` inside the `[ ]` like this task to denote a completed task

## Project Setup

In [3]:
# all import statements needed for the project, for example:

import math

import bs4
import matplotlib.pyplot as plt
import pandas as pd
import requests
import sqlalchemy as db
import re
import os
from pyarrow.parquet import ParquetFile
import pyarrow as pa 
import glob




import numpy as np



import sqldf
from pandasql import sqldf

#from keplergl import KeplerGl

from datetime import datetime
# import geopandas as gpd
import sqlite3
from sqlalchemy.orm import sessionmaker
from pathlib import Path

In [2]:
# any general notebook setup, like log formatting

In [3]:
# any constants you might need, for example:

TAXI_URL = "https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page"
# add other constants to refer to any local data, e.g. uber & weather
UBER_CSV = "uber_rides_sample.csv"

NEW_YORK_BOX_COORDS = ((40.560445, -74.242330), (40.908524, -73.717047))

DATABASE_URL = "sqlite:///project.db"
DATABASE_SCHEMA_FILE = "schema.sql"
QUERY_DIRECTORY = "queries"

## Part 1: Data Preprocessing

_A checklist of requirements to keep you on track. Remove this whole cell before submitting the project. The order of these tasks aren't necessarily the order in which they need to be done. It's okay to do them in an order that makes sense to you._

* [ ] Define a function that calculates the distance between two coordinates in kilometers that **only uses the `math` module** from the standard library.
* [ ] Taxi data:
    * [ ] Use the `re` module, and the packages `requests`, BeautifulSoup (`bs4`), and (optionally) `pandas` to programmatically download the required CSV files & load into memory.
    * You may need to do this one file at a time - download, clean, sample. You can cache the sampling by saving it as a CSV file (and thereby freeing up memory on your computer) before moving onto the next file. 
* [ ] Weather & Uber data:
    * [ ] Download the data manually in the link provided in the project doc.
* [ ] All data:
    * [ ] Load the data using `pandas`
    * [ ] Clean the data, including:
        * Remove unnecessary columns
        * Remove invalid data points (take a moment to consider what's invalid)
        * Normalize column names
        * (Taxi & Uber data) Remove trips that start and/or end outside the designated [coordinate box](http://bboxfinder.com/#40.560445,-74.242330,40.908524,-73.717047)
    * [ ] (Taxi data) Sample the data so that you have roughly the same amount of data points over the given date range for both Taxi data and Uber data.
* [ ] Weather data:
    * [ ] Split into two `pandas` DataFrames: one for required hourly data, and one for the required daily daya.
    * [ ] You may find that the weather data you need later on does not exist at the frequency needed (daily vs hourly). You may calculate/generate samples from one to populate the other. Just document what youâ€™re doing so we can follow along.

### Calculating distance
_**TODO:** Write some prose that tells the reader what you're about to do here._

In [4]:
def calculate_distance(from_coord, to_coord):
    lon1 = math.radians(from_coord[0])
    lon2 = math.radians(to_coord[0])
    lat1 = math.radians(from_coord[1])
    lat2 = math.radians(to_coord[1])
      
    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = math.sin(dlat / 2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon / 2)**2
 
    c = 2 * math.asin(math.sqrt(a))
    
    # Radius of earth in kilometers. Use 3956 for miles
    r = 6371
      
    # calculate the result
    return(c * r)

In [5]:
#unit test
from_coord=[-1.7297222222222221, 53.32055555555556]
to_coord=[-1.6997222222222223, 53.31861111111111]
assert calculate_distance(from_coord, to_coord)==2.0043678382716137

In [6]:
def add_distance_column(dataframe):
#     dis=[]
#     for x_1, y_1, x_2,y_2 in zip(dataframe["pickup_longitude"], dataframe["pickup_latitude"], dataframe["dropoff_longitude"], dataframe["dropoff_latitude"]):
#         from_c=[x_1, y_1]
#         to_c=[x_2, y_2]
#         d=calculate_distance(from_c, to_c)
#         dis.append(d)
#     dataframe["distance"]=dis
    dataframe["distance"]=dataframe.apply(lambda row:calculate_distance([row['pickup_longitude'],row['pickup_latitude']], [row['dropoff_longitude'],row['dropoff_latitude']]),axis=1)
    return dataframe

### Processing Taxi Data

_**TODO:** Write some prose that tells the reader what you're about to do here._

In [7]:
TAXI_URL = "https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page"


def get_taxi_html():
    response = requests.get(TAXI_URL)
    html = response.content
    return html
def find_taxi_links():
    #find yellow taxi links from 2009-2015/06
    html = get_taxi_html()
    soup = bs4.BeautifulSoup(html, "html.parser")
#     green_a_tags = soup.find_all("a", attrs={"title": "Green Taxi Trip Records"})
    yellow_a_tags = soup.find_all("a", attrs={"title": "Yellow Taxi Trip Records"})
    all_a_tags =  yellow_a_tags
    res=[]
    for a in all_a_tags:
        yyyy, mm = re.search(r'([0-9]+)-([0-9]+).parquet$', a["href"]).groups()
        if ((int(yyyy) >= 2009) and (int(yyyy) <2015))  or ((int(yyyy) == 2015) and (int(mm) <= 6)):
            res.append(a["href"])
#             print(yyyy+mm)
           
    return res
links = find_taxi_links()
links

['https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2015-01.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2015-02.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2015-03.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2015-04.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2015-05.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2015-06.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2014-01.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2014-02.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2014-03.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2014-04.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2014-05.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2014-06.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2014-07.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2014-08.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2014-09.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2014-10.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2014-11.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2014-12.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2013-01.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2013-02.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2013-03.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2013-04.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2013-05.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2013-06.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2013-07.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2013-08.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2013-09.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2013-10.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2013-11.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2013-12.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2012-01.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2012-02.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2012-03.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2012-04.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2012-05.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2012-06.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2012-07.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2012-08.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2012-09.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2012-10.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2012-11.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2012-12.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2011-01.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2011-02.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2011-03.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2011-04.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2011-05.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2011-06.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2011-07.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2011-08.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2011-09.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2011-10.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2011-11.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2011-12.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2010-01.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2010-02.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2010-03.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2010-04.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2010-05.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2010-06.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2010-07.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2010-08.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2010-09.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2010-10.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2010-11.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2010-12.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2009-01.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2009-02.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2009-03.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2009-04.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2009-05.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2009-06.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2009-07.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2009-08.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2009-09.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2009-10.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2009-11.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2009-12.parquet']

In [8]:
cols=[]
def get_col_name(urls):
    for i in urls:
        df=pd.read_parquet(i)
        col=list(df.columns)
        if not col in cols:
            cols.append(col)
get_col_name(links)
cols

[['VendorID',
  'tpep_pickup_datetime',
  'tpep_dropoff_datetime',
  'passenger_count',
  'trip_distance',
  'RatecodeID',
  'store_and_fwd_flag',
  'PULocationID',
  'DOLocationID',
  'payment_type',
  'fare_amount',
  'extra',
  'mta_tax',
  'tip_amount',
  'tolls_amount',
  'improvement_surcharge',
  'total_amount',
  'congestion_surcharge',
  'airport_fee'],
 ['vendor_id',
  'pickup_datetime',
  'dropoff_datetime',
  'passenger_count',
  'trip_distance',
  'pickup_longitude',
  'pickup_latitude',
  'rate_code',
  'store_and_fwd_flag',
  'dropoff_longitude',
  'dropoff_latitude',
  'payment_type',
  'fare_amount',
  'surcharge',
  'mta_tax',
  'tip_amount',
  'tolls_amount',
  'total_amount'],
 ['vendor_name',
  'Trip_Pickup_DateTime',
  'Trip_Dropoff_DateTime',
  'Passenger_Count',
  'Trip_Distance',
  'Start_Lon',
  'Start_Lat',
  'Rate_Code',
  'store_and_forward',
  'End_Lon',
  'End_Lat',
  'Payment_Type',
  'Fare_Amt',
  'surcharge',
  'mta_tax',
  'Tip_Amt',
  'Tolls_Amt',
  'Total_Amt']]

In [26]:
#Since there are three kinds of cols, we need to normalzie and clean them in different ways
cols=[['VendorID',
  'tpep_pickup_datetime',
  'tpep_dropoff_datetime',
  'passenger_count',
  'trip_distance',
  'RatecodeID',
  'store_and_fwd_flag',
  'PULocationID',
  'DOLocationID',
  'payment_type',
  'fare_amount',
  'extra',
  'mta_tax',
  'tip_amount',
  'tolls_amount',
  'improvement_surcharge',
  'total_amount',
  'congestion_surcharge',
  'airport_fee'],
 ['vendor_id',
  'pickup_datetime',
  'dropoff_datetime',
  'passenger_count',
  'trip_distance',
  'pickup_longitude',
  'pickup_latitude',
  'rate_code',
  'store_and_fwd_flag',
  'dropoff_longitude',
  'dropoff_latitude',
  'payment_type',
  'fare_amount',
  'surcharge',
  'mta_tax',
  'tip_amount',
  'tolls_amount',
  'total_amount'],
 ['vendor_name',
  'Trip_Pickup_DateTime',
  'Trip_Dropoff_DateTime',
  'Passenger_Count',
  'Trip_Distance',
  'Start_Lon',
  'Start_Lat',
  'Rate_Code',
  'store_and_forward',
  'End_Lon',
  'End_Lat',
  'Payment_Type',
  'Fare_Amt',
  'surcharge',
  'mta_tax',
  'Tip_Amt',
  'Tolls_Amt',
  'Total_Amt']]

In [27]:
shapefile_url='https://d37ci6vzurychx.cloudfront.net/misc/taxi_zones.zip'
def read_shapefile(url):
    df_loc = gpd.read_file(url)
    df_loc["geometry"]=df_loc["geometry"].to_crs(4326)
    df_loc['lon']=df_loc.centroid.x  
    df_loc['lat']=df_loc.centroid.y
    return df_loc
df_loc=read_shapefile(shapefile_url)
df_loc

/var/folders/nw/1r3hpqbs7kzctwcvcp2lckr00000gn/T/ipykernel_35450/2635983630.py:5: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  df_loc['lon']=df_loc.centroid.x
/var/folders/nw/1r3hpqbs7kzctwcvcp2lckr00000gn/T/ipykernel_35450/2635983630.py:6: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  df_loc['lat']=df_loc.centroid.y

,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough,geometry,lon,lat
0,1,0.116357,0.000782,Newark Airport,1,EWR,"POLYGON ((-74.18445 40.69500, -74.18449 40.695...",-74.174000,40.691831
1,2,0.433470,0.004866,Jamaica Bay,2,Queens,"MULTIPOLYGON (((-73.82338 40.63899, -73.82277 ...",-73.831299,40.616745
2,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx,"POLYGON ((-73.84793 40.87134, -73.84725 40.870...",-73.847422,40.864474
3,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((-73.97177 40.72582, -73.97179 40.725...",-73.976968,40.723752
4,5,0.092146,0.000498,Arden Heights,5,Staten Island,"POLYGON ((-74.17422 40.56257, -74.17349 40.562...",-74.188484,40.552659
...,...,...,...,...,...,...,...,...,...
258,259,0.126750,0.000395,Woodlawn/Wakefield,259,Bronx,"POLYGON ((-73.85107 40.91037, -73.85207 40.909...",-73.852215,40.897932
259,260,0.133514,0.000422,Woodside,260,Queens,"POLYGON ((-73.90175 40.76078, -73.90147 40.759...",-73.906306,40.744235
260,261,0.027120,0.000034,World Trade Center,261,Manhattan,"POLYGON ((-74.01333 40.70503, -74.01327 40.704...",-74.013023,40.709139
261,262,0.049064,0.000122,Yorkville East,262,Manhattan,"MULTIPOLYGON (((-73.94383 40.78286, -73.94376 ...",-73.946510,40.775932
262,263,0.037017,0.000066,Yorkville West,263,Manhattan,"POLYGON ((-73.95219 40.77302, -73.95269 40.772...",-73.951010,40.778766

In [28]:
#map to pick up ID and drop off ID to the latitude and longitude
dic_lon=df_loc['lon'].to_dict()
dic_lat=df_loc['lat'].to_dict()
def map_loc_id(dataframe):
    dataframe=dataframe[dataframe.PULocationID<=262]
    dataframe=dataframe[dataframe.DOLocationID<=262]
    dataframe['pickup_longitude']=dataframe['PULocationID'].map(dic_lon)
    dataframe['pickup_latitude']=dataframe['PULocationID'].map(dic_lat)
    dataframe['dropoff_longitude']=dataframe['DOLocationID'].map(dic_lon)
    dataframe['dropoff_latitude']=dataframe['DOLocationID'].map(dic_lat)
    return dataframe

In [33]:
def clean_taxi_data(df):
    #remove location out of range
    df = df[(df["pickup_longitude"] > -74.242330) 
   & (df["pickup_longitude"] < -73.717047) 
   & (df["pickup_latitude"] > 40.560445) 
   & (df["pickup_latitude"] < 40.908524)]
     #remove the data that passenger count is 0
    df=df[df.passenger_count>0]
    #remove no distance data
    df=df[df.distance>0]
    #remove no fare data
    df=df[df.fare_amount>0]
    return df

In [34]:
n_cols=['pickup_datetime', 'dropoff_datetime','passenger_count', "pickup_longitude","pickup_latitude",'dropoff_longitude', 'dropoff_latitude',  'fare_amount', 'tip_amount', 'total_amount']
def get_and_clean_month_taxi_data(url):
    df=pd.read_parquet(url)
    col=list(df.columns)
    if col== cols[0]:#need to map location id
        df=map_loc_id(df)
        df=df[["tpep_pickup_datetime", "tpep_dropoff_datetime","passenger_count","pickup_longitude","pickup_latitude","dropoff_longitude","dropoff_latitude","fare_amount","tip_amount","total_amount"]]
    elif col==cols[1]:
        df=df[['pickup_datetime','dropoff_datetime','passenger_count','pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude','fare_amount','tip_amount','total_amount']]
    else:
        df=df[['Trip_Pickup_DateTime','Trip_Dropoff_DateTime','Passenger_Count','Start_Lon','Start_Lat','End_Lon','End_Lat','Fare_Amt','Tip_Amt','Total_Amt']]
    df.columns=n_cols
    df=add_distance_column(df)
    df=clean_taxi_data(df)
    df=df.sample(n=2500)
    return df

In [35]:
def get_and_clean_taxi_data():
    all_taxi_dataframes = []
    for csv_url in links:
        # maybe: first try to see if you've downloaded this exact
        # file already and saved it before trying again
        dataframe = get_and_clean_month_taxi_data(csv_url)
        # maybe: if the file hasn't been saved, save it so you can
        # avoid re-downloading it if you re-run the function
        all_taxi_dataframes.append(dataframe)
    # create one gigantic dataframe with data from every month needed
    taxi_data = pd.contact(all_taxi_dataframes)
    taxi_data['pickup_datetime']=pd.to_datetime(taxi_data['pickup_datetime'])
    taxi_data['year']=taxi_data['pickup_datetime'].dt.year
    taxi_data['month']=taxi_data['pickup_datetime'].dt.month
    taxi_data['day']=taxi_data['pickup_datetime'].dt.day
    taxi_data['dayofweek']=taxi_data['pickup_datetime'].dt.dayofweek
    return taxi_data

In [ ]:
taxi_data=get_and_clean_taxi_data()
taxi_data.to_csv('cleaned_taxi_data.csv')

### Processing Uber Data

_**TODO:** Write some prose that tells the reader what you're about to do here._

In [60]:
uber_col=['pickup_datetime', 'passenger_count', "pickup_longitude","pickup_latitude",'dropoff_longitude', 'dropoff_latitude',  'fare_amount', 'distance']
def load_and_clean_uber_data(csv_file):
    df_u = pd.read_csv(csv_file)
    df_u=df_u[['pickup_datetime','passenger_count','pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude','fare_amount']]
    df_u = df_u[(df_u["pickup_longitude"] > -74.242330) 
   & (df_u["pickup_longitude"] < -73.717047) 
   & (df_u["pickup_latitude"] > 40.560445) 
   & (df_u["pickup_latitude"] < 40.908524)]
   
    df_u=df_u[df_u.passenger_count>0]
    #remove no fare data
    df_u=df_u[df_u.fare_amount>0]
    df_u=df_u=add_distance_column(df_u)
    #remove no distance data
    df_u=df_u[df_u.distance>0]
    df_u.columns=uber_col
    df_u['pickup_datetime']=pd.to_datetime(df_u['pickup_datetime'])
    df_u['year']=df_u['pickup_datetime'].dt.year
    df_u['month']=df_u['pickup_datetime'].dt.month
    df_u['day']=df_u['pickup_datetime'].dt.day
    df_u['hour']=df_u['pickup_datetime'].dt.hour
    return df_u

In [61]:
UBER_DATA="4501-project/uber_rides_sample.csv"
def get_uber_data():
    uber_dataframe = load_and_clean_uber_data(UBER_DATA)
    return uber_dataframe

In [62]:
uber_dataframe=get_uber_data()
uber_dataframe

,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,fare_amount,distance,year,month,day,hour
0,2015-05-07 19:52:06+00:00,1,-73.999817,40.738354,-73.999512,40.723217,7.5,1.683323,2015,5,7,19
1,2009-07-17 20:04:56+00:00,1,-73.994355,40.728225,-73.994710,40.750325,7.7,2.457590,2009,7,17,20
2,2009-08-24 21:45:00+00:00,1,-74.005043,40.740770,-73.962565,40.772647,12.9,5.036377,2009,8,24,21
3,2009-06-26 08:22:21+00:00,3,-73.976124,40.790844,-73.965316,40.803349,5.3,1.661683,2009,6,26,8
4,2014-08-28 17:47:00+00:00,5,-73.925023,40.744085,-73.973082,40.761247,16.0,4.475450,2014,8,28,17
...,...,...,...,...,...,...,...,...,...,...,...,...
199995,2012-10-28 10:49:00+00:00,1,-73.987042,40.739367,-73.986525,40.740297,3.0,0.112210,2012,10,28,10
199996,2014-03-14 01:09:00+00:00,1,-73.984722,40.736837,-74.006672,40.739620,7.5,1.875050,2014,3,14,1
199997,2009-06-29 00:42:00+00:00,2,-73.986017,40.756487,-73.858957,40.692588,30.9,12.850319,2009,6,29,0
199998,2015-05-20 14:56:25+00:00,1,-73.997124,40.725452,-73.983215,40.695415,14.5,3.539715,2015,5,20,14
199999,2010-05-15 04:08:00+00:00,1,-73.984395,40.720077,-73.985508,40.768793,14.1,5.417783,2010,5,15,4

In [63]:
uber_dataframe.to_csv("4501-project/cleaned_uber_data",index=False)

### Processing Weather Data

_**TODO:** Write some prose that tells the reader what you're about to do here._

In [82]:
hourly=[]
def clean_month_weather_data_hourly(csv_file):
    hourly_df=pd.read_csv(file,low_memory=False)
    hourly_df["DATE"] = pd.to_datetime(hourly_df['DATE'])
    hourly_df["date"] = pd.to_datetime(hourly_df['DATE']).dt.date
    hourly_df["year"] = hourly_df["DATE"].dt.year
    hourly_df["month"] = hourly_df["DATE"].dt.month
    hourly_df["day"] = hourly_df["DATE"].dt.day
    hourly_df["hour"] = hourly_df["DATE"].dt.hour
    hourly_df['HourlyPrecipitation'] = hourly_df['HourlyPrecipitation'].fillna(0)
    hourly_df=hourly_df[['date','year','month','day','hour','HourlyWindSpeed',"HourlyPrecipitation",'DailySustainedWindSpeed']]
    hourly_df = hourly_df.replace(['T'], 0)
    hourly.append(hourly_df)
filepath = glob.glob("weather/*.csv")
for file in sorted(filepath):
    clean_month_weather_data_hourly(file)
hourly_data=pd.concat(hourly)
hourly_data = hourly_data.replace(['T'], 0)
hourly_data.fillna(0, inplace=True)
hourly_data["HourlyPrecipitation"]
hourly_data = hourly_data[(hourly_data["year"] <= 2015) &(hourly_data["month"] <=6)]
hourly_data["HourlyPrecipitation"] = pd.to_numeric(hourly_data["HourlyPrecipitation"],errors='coerce')
hourly_data.fillna(0, inplace=True)

In [83]:
daily= pd.DataFrame()
daily['DailySustainedWindSpeed']=hourly_data.groupby("date")["DailySustainedWindSpeed"].sum()
daily['daily_wind_speed']=hourly_data.groupby("date")["HourlyWindSpeed"].mean()
daily['daily_precipitation']=hourly_data.groupby("date")["HourlyPrecipitation"].sum()
daily.to_csv('cleaned_daily_data.csv')
daily=pd.read_csv('cleaned_daily_data.csv')
daily['date']=pd.to_datetime(daily['date'])
daily['year']=daily['date'].dt.year
daily['month']=daily['date'].dt.month
daily['day']=daily['date'].dt.day
daily=daily[['date', 'year', 'month','day','daily_wind_speed','daily_precipitation','DailySustainedWindSpeed']]
daily.to_csv('cleaned_daily_data.csv')

### Process All Data

_This is where you can actually execute all the required functions._

_**TODO:** Write some prose that tells the reader what you're about to do here._

In [ ]:
#read from stored cleaned data
taxi_data = pd.read_csv('cleaned_taci_data.csv')
uber_data = pd.read_csv('cleaned_uber_data.csv')
hourly_weather_data=pd.read_csv('cleaned_hourly_data')
daily_weather_data = pd.read_csv('cleaned_daily_data')

## Part 2: Storing Cleaned Data

_Write some prose that tells the reader what you're about to do here._

In [14]:
engine = db.create_engine(DATABASE_URL)

In [15]:
# if using SQL (as opposed to SQLAlchemy), define the commands 
# to create your 4 tables/dataframes
HOURLY_WEATHER_SCHEMA = """
TODO
"""

DAILY_WEATHER_SCHEMA = """
TODO
"""

TAXI_TRIPS_SCHEMA = """
TODO
"""

UBER_TRIPS_SCHEMA = """
TODO
"""

In [ ]:
# create that required schema.sql file
with open(DATABASE_SCHEMA_FILE, "w") as f:
    f.write(HOURLY_WEATHER_SCHEMA)
    f.write(DAILY_WEATHER_SCHEMA)
    f.write(TAXI_TRIPS_SCHEMA)
    f.write(UBER_TRIPS_SCHEMA)

In [16]:
# create the tables with the schema files
with engine.connect() as connection:
    pass

### Add Data to Database

_**TODO:** Write some prose that tells the reader what you're about to do here._

In [17]:
def write_dataframes_to_table(table_to_df_dict):
    raise NotImplemented()

In [ ]:
map_table_name_to_dataframe = {
    "taxi_trips": taxi_data,
    "uber_trips": uber_data,
    "hourly_weather": hourly_data,
    "daily_weather": daily_data,
}

In [ ]:
write_dataframes_to_table(map_table_name_to_dataframe)

## Part 3: Understanding the Data

_A checklist of requirements to keep you on track. Remove this whole cell before submitting the project. The order of these tasks aren't necessarily the order in which they need to be done. It's okay to do them in an order that makes sense to you._

* [ ] For 01-2009 through 06-2015, what hour of the day was the most popular to take a yellow taxi? The result should have 24 bins.
* [ ] For the same time frame, what day of the week was the most popular to take an uber? The result should have 7 bins.
* [ ] What is the 95% percentile of distance traveled for all hired trips during July 2013?
* [ ] What were the top 10 days with the highest number of hired rides for 2009, and what was the average distance for each day?
* [ ] Which 10 days in 2014 were the windiest, and how many hired trips were made on those days?
* [ ] During Hurricane Sandy in NYC (Oct 29-30, 2012) and the week leading up to it, how many trips were taken each hour, and for each hour, how much precipitation did NYC receive and what was the sustained wind speed?

In [18]:
def write_query_to_file(query, outfile):
    raise NotImplemented()

### Query N

_**TODO:** Write some prose that tells the reader what you're about to do here._

_Repeat for each query_

In [ ]:
QUERY_N = """
TODO
"""

In [ ]:
engine.execute(QUERY_N).fetchall()

In [ ]:
write_query_to_file(QUERY_N, "some_descriptive_name.sql")

## Part 4: Visualizing the Data

_A checklist of requirements to keep you on track. Remove this whole cell before submitting the project. The order of these tasks aren't necessarily the order in which they need to be done. It's okay to do them in an order that makes sense to you._

* [ ] Create an appropriate visualization for the first query/question in part 3
* [ ] Create a visualization that shows the average distance traveled per month (regardless of year - so group by each month). Include the 90% confidence interval around the mean in the visualization
* [ ] Define three lat/long coordinate boxes around the three major New York airports: LGA, JFK, and EWR (you can use bboxfinder to help). Create a visualization that compares what day of the week was most popular for drop offs for each airport.
* [ ] Create a heatmap of all hired trips over a map of the area. Consider using KeplerGL or another library that helps generate geospatial visualizations.
* [ ] Create a scatter plot that compares tip amount versus distance.
* [ ] Create another scatter plot that compares tip amount versus precipitation amount.

_Be sure these cells are executed so that the visualizations are rendered when the notebook is submitted._

### Visualization N

_**TODO:** Write some prose that tells the reader what you're about to do here._

_Repeat for each visualization._

_The example below makes use of the `matplotlib` library. There are other libraries, including `pandas` built-in plotting library, kepler for geospatial data representation, `seaborn`, and others._

In [19]:
# use a more descriptive name for your function
def plot_visual_n(dataframe):
    figure, axes = plt.subplots(figsize=(20, 10))
    
    values = "..."  # use the dataframe to pull out values needed to plot
    
    # you may want to use matplotlib to plot your visualizations;
    # there are also many other plot types (other 
    # than axes.plot) you can use
    axes.plot(values, "...")
    # there are other methods to use to label your axes, to style 
    # and set up axes labels, etc
    axes.set_title("Some Descriptive Title")
    
    plt.show()

In [ ]:
def get_data_for_visual_n():
    # Query SQL database for the data needed.
    # You can put the data queried into a pandas dataframe, if you wish
    raise NotImplemented()

In [ ]:
some_dataframe = get_data_for_visual_n()
plot_visual_n(some_dataframe)